# disturl=https://npm.taobao.org/mirrors/node/
# sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
# sharp_dist_base_url=https://npm.taobao.org/mirrors/sharp-libvips/
# electron_mirror=https://npm.taobao.org/mirrors/electron/
# ELECTRON_BUILDER_BINARIES_MIRROR=http://npm.taobao.org/mirrors/electron-builder-binaries/
# puppeteer_download_host=https://npm.taobao.org/mirrors/
# phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
# sentrycli_cdnurl=https://npm.taobao.org/mirrors/sentry-cli/
# sqlite3_binary_site=https://npm.taobao.org/mirrors/sqlite3/
# python_mirror=https://npm.taobao.org/mirrors/python/
# registry=https://registry.npm.taobao.org



# registry = https://registry.npm.taobao.org
# sass_binary_site = https://npm.taobao.org/mirrors/node-sass/
# phantomjs_cdnurl = http://cnpmjs.org/downloads
# electron_mirror = https://npm.taobao.org/mirrors/electron/
# sqlite3_binary_host_mirror = https://foxgis.oss-cn-shanghai.aliyuncs.com/
# profiler_binary_host_mirror = https://npm.taobao.org/mirrors/node-inspector/
# chromedriver_cdnurl = https://cdn.npm.taobao.org/dist/chromedriver

# disturl = http://npm.fat.qa.pab.com.cn/mirrors/node
# metrics-registry =http://repo.pab.com.cn/artifactory/api/npm/npm-arch-frontend/
# registry = http://npm.fat.qa.pab.com.cn/mirrors/
# sass_binary_site = http://npm.fat.qa.pab.com.cn/mirrors/node-sass/
# phantomjs_cdnurl = http://npm.fat.qa.pab.com.cn/mirrors/phantomjs/
# electron_mirror = http://npm.fat.qa.pab.com.cn/mirrors/electron/
# sqlite3_binary_host_mirror = https://foxgis.oss-cn-shanghai.aliyuncs.com/
# profiler_binary_host_mirror = http://npm.fat.qa.pab.com.cn/node-inspector/
# chromedriver_cdnurl = http://npm.fat.qa.pab.com.cn/mirrors/chromedriver/