$font-color: #000000;
$font-size: 12px;
$fz14: 14px;
$line-color: #eaecf1;
$line-color-2: #e0e1e3;
$background-color: #f7f8fa;

$shallow: #7d8292;
$title1Color: #424656;
$themeColor: #fd6720;
$higHeight: #fff0e9;
$tintColor: rgba(#000000, 40%);
$tintColor6: rgba(#000000, 60%);
$color9: #999999;
