.banner-container {
    display: flex;
    flex-wrap: wrap;
    > div {
      > .banner-item-container:nth-child(1) {
        margin: 0 10px 20px 0;
      }
      > .banner-item-container:nth-child(2) {
        margin: 0 10px 20px 0;
      }
      > .banner-item-container:nth-child(3) {
        margin: 0 0 20px 0;
      }
    }
  }
  
  .banner-item-container {
    width: 325px;
    height: 325px / 2.68;
    border-radius: 6px;
    border: 1px solid $line-color;
    position: relative;
    overflow: hidden;
    .mask-container {
      width: 100%;
      height: 100%;
      color: #fff;
      overflow: hidden;
      font-size: 24px;
      background-color: rgb(#000, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(0);
      transition: 0.1s all;
    }
  
    &:hover .mask-container {
      transform: scale(1);
    }
  
    .mask-icon {
      margin: 0 5px;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        transform: scale(1.3);
      }
    }
  }
  
  .upload-container {
    width: 325px;
    height: 325px / 2.68;
    .txt-css-reset {
      text-align: center;
      line-height: 20px;
    }
  }
  
  :deep(.upload-container) {
    .el-upload {
      width: 325px;
      height: 325px / 2.68;
      line-height: initial;
    }
  
    .el-upload .box {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .el-icon-plus {
      display: inline-block;
      margin-bottom: 20px;
    }
  
    .text {
      top: 60%;
    }
  }